*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Prompt";
}

body{
    background-color:#eceeec;;


}


.about-nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 25px;
    padding: 16px 40px;
    background-color: rgb(89, 126, 89);
    position: relative;
    list-style: none;
    border-bottom: solid 1px #0a090a;

}

.about-nav-bar a{
    color:black;

}

.about-nav-bar a:link{
    text-decoration: none;
}

.about-nav-bar a:hover{
    color:#0a3706;
    text-decoration:solid underline 4px;
}

.about-nav-bar a:active{
    color:#272e2c;
    text-decoration: none;

}



.about-nav-bar a:visited{
    color:#272e2c;
    text-decoration: none;

}

.about-column{

height: 89vh;

}

.about-column-tittle{

    padding: 24px 16px;
    margin: 20px;
    text-align:left ;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1.5px;
}


.about-column-content {
    padding: 5px;
    line-height:40px;
    font-weight:300;
    margin-left:50px;
    margin-right: 60px;
    font-size: 20px;
    color: #0c0c0c;
    margin-bottom: 36px;


}


.about-column-content a:link{
    text-decoration: none;
    font-weight: 500;
}

.about-column-content a:active{
    color:#272e2c;
    text-decoration: none;

}



.about-column-content a:hover{
    color: #0a0a0a;
    text-decoration: black solid underline;
}


a:visited {
    color: #0a090a;

}

.about-how-does-it-work {
    background-color: rgb(89, 126, 89);
    color: #eceeec;
    font-size: 40px;
    text-align: center;

}

.about-how-does-it-work-content a:link{
    color:#161817;
    text-decoration: none;
}


.about-how-does-it-work-content{

    padding: 10px;
    line-height:40px;
    font-weight:300;
    margin-left:50px;
    margin-right: 60px;
    font-size: 20px;
    color: #0c0c0c;
    margin-bottom: 36px;
    margin-top: 50px;




}

.about-style{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    line-height: 35px;
    text-align:center;
    padding: 30px;
    font-size: 12px;
    font-weight: 500;
}

.about-classic-style{
    grid-column: 1/6;

}


.about-new-style{

    grid-column: 7/12;

}


.about-style a:link{
    color:#161817;
    text-decoration: none;
}


.about-reviewed{
    background-color: rgb(89, 126, 89);
    color: #eceeec;
    font-size: 20px;
    text-align: center;
}



.about-reviewed-content {
    padding: 10px;
    line-height: 46px;
    font-weight: 300;
    margin-left: 50px;
    margin-right: 60px;
    font-size: 20px;
    color: #0c0c0c;
    margin-bottom: 36px;
    margin-top: 12px;
}

.about-reviewed-content span {
    font-weight: 500;
    margin: 40px;
    padding: 28px;
}


.sticky-footer {
    display: flex;
    justify-content: center;
    align-items: baseline;
    position:sticky;
    background-color:white;
    font-size:12px ;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top:solid 1px #151414;

}


.sticky-footer a{
    margin: 5px;
    padding: 5px;
    text-decoration: none;

}

.sticky-footer a:link{
    text-decoration: none;
    color:black;
}


.sticky-footer a:hover{
    color: #000000;
    text-decoration: underline solid 4px;

}


.sticky-footer a:visited{
    text-decoration: none;
    color: #0a090a;

}





