*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "lato"

}

body{
    background-color:hsl(0, 0%, 99%);

}


.about-nav-bar{
    display:flex;
    justify-content:space-between;
    align-items: center;
    line-height:25px;
    padding:16px 40px;
    background-color: rgba(238, 231, 227, 0.94);
    position: relative;
    list-style: none;
    border-bottom:solid 2px #0a090a;

}

.about-nav-bar a{

    font-family:'Lato',sans-serif;
}

.about-nav-bar a:link{
    color:#265646;
    text-decoration: none;
}

.about-nav-bar a:hover{
    color:#0a3706;
    text-decoration: underline solid 4px;

}

.about-nav-bar a:active{
    color:#272e2c;
    text-decoration: none;

}




.about-nav-bar a:visited{
    color:#272e2c;
    text-decoration: none;

}

.about-slipt-column{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 30px 30px;
}

.about-slipt-column-tittle{

    grid-column: 1/7;
    position: relative;
    background-color: hsl(160 39% 24%);
    color: rgb(238, 238, 238);
    padding: 24px 16px;
    position: relative;
    text-align:center ;
    font-size: 25px;
    font-family:'Lato';
    letter-spacing: 1.5px;
}



.about-slipt-column-content {
    grid-column: 8/12;
    position: relative;
    margin-top: 30px;
    width: 80%;

}

.about-slipt-column-content p{
    font-family: 'Lato';
    text-align:left;
    line-height:2;

}


.about-slipt-column-content a:link{
    color:#ba7f00;
    text-decoration: none;
}

.about-slipt-column-content a:hover{
    color:#333706;
    text-decoration: underline solid 4px;

}

.about-slipt-column-content a:active{
    color:#272e2c;
    text-decoration: none;

}





.about-how-does-it-work{
    background-color:rgb(196, 109, 47);
    color:white;
    font-size: 52px;
    text-align: center;
    border-bottom: #265646;
}

.about-how-does-it-work-content a:link{
    color:#161817;
    text-decoration: none;
}


.about-how-does-it-work-content{
    align-items: stretch;
    position: relative;
    padding: 20px;
    line-height: 2.1em;
    height: auto;
    text-align: left;
    font-size: 22px;
    margin-bottom: 36px;
    color: rgb(28, 63, 9);
}

.about-style{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 40px 0;

    margin: 50px;
    padding: 20px;
    line-height: 2;
    text-align:left;
}

.about-classic-style{
    grid-column: 1/6;

}


.about-new-style{

    grid-column: 7/12;

}


.about-style a:link{
    color:#161817;
    text-decoration: none;
}


.about-reviewed{
    background-color:#2f612fd7;
    color:rgb(17, 17, 17);
    font-size: 20px;
    text-align: center;
}



.about-reviewed-content{
    align-items: stretch;
    position: relative;
    margin: 50px;
    padding: 20px;
    line-height: 2.1em;
    height: auto;
    text-align: left;
    font-size: 22px;
    margin-bottom: 36px;
    color: rgb(28, 63, 9);

}

.sticky-footer{

    text-align: center;
    margin-bottom: 10px;
}


.sticky-footer p{
    color: hsl(160, 2%, 28%);
}