*{
    margin:0;
    padding:0px;
    box-sizing: border-box;
    font-family: Prompt;

}



body {
    background-color: #597e59;

}

/*nagivgation section*/
nav {

    display: flex;
    justify-content:flex-end;
    align-items: baseline;
    font-size:16px;
    padding:16px 40px;

}

nav a {

    font-weight: 300;
    color: #e2d5d559;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
}

nav a:link {
    color: #eceeec;
    text-decoration: none;
}


nav a:hover {
    color:#0a3706;
    text-decoration: underline solid 4px;
}

nav a:active {
    color: #0a0a0a;
    text-decoration: none;

}

nav a:visited {
    color: #eceeec;
    text-decoration: none;
}

/*end of nagivgation section */

/*main header title */ 

.main h1 {
    color:#eceeec;
    font-size: 90px;
    font-weight:600;
    line-height: 1.4;
    margin-left: 40px;
    margin-top: 28px;
}

/*defination section*/

.definition span {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}


.definition  {
    margin-left:50px;
    margin-top: 30px;
    font-size: 20px;
    color: #0a0a0a;
}



.definition ol {
    line-height: 27.6px;
    font-size: 16px;
    margin:12px;
}

/*end of defination section*/


/*disclaimer section*/

.disclaimer span {
 font-weight: 600;

}


.disclaimer {
    margin:40px;
    padding: 20px;
    font-size:10px;
    font-weight:300;
    line-height: 27px;
    width: 60%;

}

/* end of disclaimer section/*

/*footer section*/

.fixed-footer {
    display: flex;
    justify-content: center;
    align-items: baseline;
    position:fixed;
    background-color: #e2d5d559;
    font-size:12px ;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top:solid 1px #0a0a0a;

}


.fixed-footer a {
    margin: 5px;
    padding: 5px;
    text-decoration: none;

}

.fixed-footer a:link {
    text-decoration: none;
}

.fixed-footer a:hover{
    color: #0a0a0a;
    text-decoration: underline solid 4px;

}


.fixed-footer a:visited{
    text-decoration: none;
    color: #0a0a0a;

}

/*end of footer section*/
