*{
    margin:0;
    padding:0px;
    box-sizing: border-box;
    font-family: Prompt;

}



body{
    background-color: rgb(89, 126, 89);

}


nav{

    display: flex;
    justify-content:flex-end;
    align-items: baseline;
    font-size:16px;
    padding:16px 40px;


}

nav a{

    font-weight: 500;
    color: rgba(201, 190, 190, 0.38);
    margin: 5px;
    padding: 5px;
    text-decoration: none;

}

nav a:link{
    color: #eceeec;
    text-decoration: none;
}

nav a:hover{
    color:#0a3706;
    text-decoration: underline solid 4px;

}

nav a:active{
    color: #0b0b0b;
    text-decoration: none;

}

nav a:visited{
    color: #dde3dd;
    text-decoration: none;

}



.main h1 {

    font-family: 'Prompt', sans-serif;
    color:#eceeec;
    font-size: 90px;
    font-weight: 700;
    line-height: 55px;
    margin-left: 40px;
    margin-top: 28px;

}
.disclaimer{
    margin:40px;
    padding: 20px;
    font-size:10px;
    font-weight:300;
    line-height: 27px;
    width: 70%;


}


.disclaimer span{
    font-weight: 400;

}



.definition{
    margin-left:50px;
    margin-top: 30px;
    font-size: 20px;
    color: #0c0c0c;
}


.definition span{
    font-size: 20px;
    text-align: center;
}

.definition ol{
    line-height: 27.6px;
    font-size: 16px;
    margin:12px;
}



.fixed-footer {
    display: flex;
    justify-content: center;
    align-items: baseline;
    position:fixed;
    background-color: rgba(226, 213, 213, 0.35);
    font-size:12px ;
    font-family: Prompt;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top:solid 1px #151414;


}

.fixed-footer a{
    font-family: Prompt;
    margin: 5px;
    padding: 5px;
    text-decoration: none;

}

.fixed-footer a:link {
    text-decoration: none;
}

.fixed-footer a:hover{
    color: #000000;
    text-decoration: underline solid 4px;

}


.fixed-footer a:visited{
    text-decoration: none;
    color: #0a090a;

}

